* {
    font-family lato
}

.serif {
    font-family Droid Serif
    letter-spacing 0.5px
}

.bold {
    font-weight 700
}



// TYPE STYLES

.darkBlue 
    color #2A3766;

.lightBlue 
    color #00A0DF

.grey 
    color #525350;

.darkGrey
    color #525350;
    
.white 
    color #fff
    
.green
    color #6ABFBB    
 

.button 
    text-align center
    margin-bottom 50px
    margin-top 50px
    
    a
        padding 20px
        font-size 18px
        letter-spacing 2px

    
.buttonBlue
    a
        border: 1px solid $primaryColour
        color: $primaryColour
        text-transform uppercase
        text-decoration none
        transition 0.25s ease-in-out all
        
        &:hover {
            background $primaryColour
            color white
            
        }
        
.buttonLightblue 
    margin-top 50px
    a
        border: 1px solid $lightBlue
        color: $lightBlue
        text-transform uppercase
        text-decoration none
        transition 0.25s ease-in-out all
        
        &:hover 
            background $lightBlue
            color white
            
              
        
        
.buttonWhite
    margin-top 50px
    a
         border 1px solid white
         color white
         text-transform uppercase
         text-decoration none
         transition 0.25s ease-in-out all
         
         &:hover
             background $primaryColour
             color white
             border 1px solid $primaryColour
 

.sectionHeader
    font-size 42px
    padding-bottom 0
    padding-top 0
    margin-top 0
    margin-bottom 5px
    text-align center       

             

.sectionInterior
    overflow hidden
    width 85%
    margin-left 7.5%
    margin-right 7.5%

.articleCopy 
    font-size 18px
    line-height 1.4
    font-family droid serif
    
.articleAuthor
    font-family droid
    font-size 18px
    
    span 
        font-weight 800
        font-size 18px
        font-family droid serif   
