.board-members
	.sectionInterior
		h1
			padding-top 160px
			
	.boardList1, .boardList2
		text-decoration none
		list-style-type none
		width 50%
		float left
		padding 0
		margin 0
		
	.boardLists
		margin 0 auto
		text-align center
		
		ul
			li
				padding 10px
				
			padding-bottom 50px	
			
	.newMembers
		padding-bottom 50px
		
	.board_2
		
		background #F5F5F4
		padding-bottom 75px
		
		h2
			padding-top 50px				
			

	.boardMemberBlock
		padding-top 50px
		overflow hidden
		width 40%
		float left
		margin-left 10%
		
		img
			max-width 100%
			height auto
			width 80%
		
		.boardMemberLeft
			float left
			clear both
			
		.boardMemberRight
			float left
			width 60%
			padding-top 3%
			
			
.board_3
	background #6ABFBB
	padding-top 75px
	padding-bottom 75px
	
	.sectionHeader
		padding-bottom 80px
	
	.newMemberBlock
		width 100%
		float left
		margin-bottom 10%
		

		.newMemberLeft
			float left
			position relative
			top 25px
			
		.newMemberRight
			float left
			width 60%	
			margin-left 10%	
			p.memberParagraph
				font-size 18px
			
			p.memberName
				font-size 20px
				font-weight 800	
				span
					font-weight 300
	


			

		
