.financial
	h1.sectionHeader
		padding-top 160px
		border-bottom 3px solid $darkBlue
		
	.financial_1
		background $lightBlue
		.sectionInterior
			.section_1_p
				display block !important	
	


.financial_2
	padding-top 80px
		
	h2
		padding-bottom 80px
	table
		width 65%
		margin 0 auto
		
@media (max-width: 600px)
	.financial_2
		table
			width 100%	
			
@media (max-width: 400px)
	.financial_2
		.sectionInterior
			width 100% !important
			margin-left 0
				
		

.tableBold {
	font-weight 900;
}

.topRow {
	border-bottom 1px solid black
}

.tableShift	 {
	position relative
	left 2%
}

table
	tr 
		 
	td
		width 620px 
		padding-top 5px 
		padding-bottom 5px
	
	td.alignRight
		text-align right
	
	td.underlined
		border-bottom 1px solid black		
			

 
                