.financial
	h1.sectionHeader
		padding-top 160px
		
	.financial_1
		background $lightBlue	
	

.financial_2
	padding-top 80px
	h2
		padding-bottom 80px
	table
		width 100%
		margin 0 auto
		

.tableBold {
	font-weight 900;
}

.topRow {
	border-bottom 1px solid black
}

.tableShift	 {
	position relative
	left 2%
}

table
	tr 
		 
	td
		width 620px 
		padding-top 5px 
		padding-bottom 5px
	
	td.alignRight
		text-align right
	
	td.underlined
		border-bottom 1px solid black		
			

 
                