

// footer

footer 
    background #2A3766;
    height 15vh
    padding-top 35px
    float left
    width 100%
    ul
        margin 0
        text-decoration none
        display inline
        float left
        width 35%
        
        li
            display inline
            color white
            a
                color white
                text-decoration none 
            
    .footerRight
        width 30%
        padding-left 15%
        float right
        text-align right
        li 
            float left  
            text-align right  
            padding-left 20px
            color white
            a
                color white   


