.grads
	
	.sectionInterior
		h1
			padding-top 160px
	.grads_2
		background $lightBlue
		.section_1_p
			color white
			
	.grads_3
		margin 0 auto
		
		.gradsList
			margin 0 auto
		.grads1Left
			float left	
			list-style-type none
			
			li
				padding-top 5px
				padding-bottom 5px
			
		.grads1Right
			float left
			list-style-type none
			
			li
				padding-top 5px
				padding-bottom 5px
				
		.grads2Left
			max-width 20%
			float right 
			list-style-type none
				li
					padding-top 5px
					padding-bottom 5px
					list-style-type none
			

		.grads2Right
			float right 
			list-style-type none
				li
					padding-top 5px
					padding-bottom 5px
					list-style-type none	
					
		.gradsRight 
			float right
			width 50%
			
	.grads_2
		background $darkBlue
		padding-bottom 50px
		padding-top 50px	
		.section_1_p
			padding-bottom 20px		
			
	.grads_3
		padding-bottom 50px		
			
	.grads_4
		padding-top 20px
		background $lightBlue
		padding-bottom 80px
		
		h2
			padding-bottom 30px
		.sectionInterior
			text-align center
		img
			text-align center	
			

@media (max-width: 750px)
	.grads
		.grads_1, .grads_2
			.section_1_p
				display block
				
		.gradsRight
			width 100% !important			
