.headerHome
    height 100vh
    background-image url('http://fillmurray.com/1400/900');
    background-size cover
    background-repeat no-repeat
    
    h1
        margin-top 0
        
    h2  
        padding-top 60vh
        font-size 56px
        color white
        text-align center
        width 100%  
        margin 0  


header
    .navBar
        height 120px
        background $primaryColour
        width 85%
        padding-left 7.5%
        padding-right 7.5%
        
        
        .logoImage
            width 120px
            height 80px
            background white
            position relative
            float left
            margin-top 20px
            
        h1 
            width 30%
            margin-top 50px
            float left 
            margin-left 60px
            position relative
            font-size 20px
            
    .arrowIcon
        text-align center
        color white 
        font-size 200px       
               
    .triangleBorder
        height 20px
        position absolute
        top 120px
        width 100%
        left 0
        background-image url('../img/sterlingTriangle.svg');

.home 
    .section_1_p, .section_2_p, .section_3_p
        padding-bottom 25px


.section_1_image, .section_2_image, .section_3_image
    margin-top 50px
    margin-bottom 50px

.section_1, .section_2, .section_3
    padding-bottom 50px
    .sectionInterior
        h2
            font-size 42px
            padding-bottom 0
            padding-top 0
            margin-top 0
            margin-bottom 5px

.section_1
    background #fff
    

.section_1_image
    background-image url('http://fillmurray.com/800/800');
    background-position center
    background-size cover; 
    height 325px
    width 100% 
    border-bottom 1px solid $grey
    position relative
    h3
        position absolute
        font-size 35px;
        top 15%
        width 42%
        float right
        margin-left 58%
        
.section_1_p, .section_2_p, .section_3_p
    font-size 18px
    line-height 1.4
    padding-bottom 85px
            
    
.section_2 
    background #4EB4DB          

.section_2_image
    background-image url('../img/rick.png');
    background-position center
    background-size cover; 
    height 450px
    width 100% 
    border-bottom 1px solid $grey
    position relative
    
.section_3_image
    background-image url('../img/boardMembers.png');
    background-position center
    background-size cover; 
    height 450px
    width 100% 
    border-bottom 1px solid $grey
    position relative    


.section_3
    background #fff 

.section_3_image
    background-position center
    background-size cover; 
    height 450px
    width 100% 
    border-bottom 1px solid $grey
    position relative
    
 
        
.section_1, .section_2, .section_3
    padding-top 5vh
    h2
        text-align center


.mini_1
    background #68C6C9
    position relative
    
    .button
        text-align left

.mini_2 
    background-image url('../img/buildingBlocks.png')
    background-size cover
    background-repeat no-repeat
    background-position center
    position relative
    padding-left 50%
    
    h2
        padding-left 50%
        
    button
        text-align left !important
        a
            margin-left 50% !important
            
    
 
        
.mini_1, .mini_2, .mini_3
    height 25vh
    padding-top 10vh
    padding-bottom 10vh
    padding-left 5vh
    
    h2 {
        width 50%
        font-size 45px 
        margin-top 0
        margin-bottom 60px
    }
    
    .button
        margin 0
        padding 0
        
.mini_3
    background-image url("http://fillmurray.com/1500/800");
    background-size cover
    background-repeat no-repeat
    background-position center
    position relative
    
    
    
    .button
        text-align left
        
               
    


// home responsive mobile

@media (max-width: 750px) 

    .home 
          .headerHome
              height 90vh
              h2 
                  font-size 42px
                  width 50%
                  margin-left 25%
                  padding-top 50vh
                  
        .sectionInterior    
                      
            .sectionHeader
                font-size 32px !important  
                
            .section_1_image
                h3
                    display none
            .section_1_p
                display none
                
            .section_2_p
                display none
                
            .section_3_p
                display none   
                
    .home
        .section_1, .section_2, .section_3
            padding-bottom 20px
            margin-bottom 0
            
        .mini_1, .mini_2, .mini_3
            padding-left 0
            height 100%
            padding-top 0
            padding-bottom 0
            .button
                padding-top 15vh
                padding-bottom 15vh
                text-align center
            h2 
                display none        
                text-align center
                
        .mini_1        
            .buttonWhite
                
                a    
                    background #6ABFBB
                    text-align center
                    
                    &:hover
                        background transparent
                        color #fff
                        border 1px solid white
                

                
        .mini_2 
            .buttonLightblue
                padding-left 0
                text-align center
                a
                    background #2A3766
                    color #fff
                    border 1px solid white   
                    
                    &:hover
                        background transparent
                        color #fff
                        border 1px solid white
                    
        .mini_3 
            .buttonWhite
                
                a
                    background #4FA0CD;
                    color #fff
                    border 1px solid white
                    
                
                    &:hover
                        background transparent
                        color #fff
            
                

            
