


.volunteers_1
    background #6ABFBB
    padding-top 175px
    
    h1
        border-bottom 3px solid white
        text-align center
        padding-bottom 15px
        font-size 55px
        margin-bottom 45px    



    
.articleMain 
    width 75%
    float left
    clear both        
.articleAside
    float right
    width 20%
    margin-right 1.5%
    border-top 1px solid $darkBlue
    border-bottom 1px solid $darkBlue
    padding-top 15px
    margin-top 25px
    padding-bottom 15px
    
    p 
        font-size 22px
        font-weight 800
       
.volunteers_image
    background #777777
    background-position center
    background-size cover; 
    height 450px
    width 100% 
    border-bottom 1px solid rgba($grey, 0.3)
    position relative 
    float left       
    clear both
    margin-top 50px
    margin-bottom 50px
    
.volunteers_2
    padding-top 160px    
    
    .articleMain
        width 70%
    
.volunteers_3
    background #F5F5F4
    padding-bottom 80px
    padding-top 160px

//accordion stuff 



.volunteers_3, .volunteers_4, .financial
    padding-bottom 150px
    
    .section_1_p 
        padding-bottom 35px
        
    ul.accordion
        float left
        width 100%    
    
    a.toggle
        text-decoration none
        text-transform uppercase
        letter-spacing .5px
        margin-top 5px
        margin-bottom 5px
        position relative
        font-size 20px
        
        &:after
            content '+'
            font-size 35px
            position absolute
            top 3px
            right 50px
            
    
    .inner
        padding-left 0
        padding-top 15px
        padding-bottom 15px
        background #D6D9D4
    

    .inner p 
        font-size:20px;
        padding-bottom 5px
        margin 0
    


    ul 
        list-style: none;
        padding: 0;
        .inner 
            padding-left: 1em;
            padding-right 1 em
            overflow: hidden;
            display: none;
            &.show 
              /*display: block;*/
            
        
        li 
            margin: .5em 0;
            a.toggle 
                width: 100%;
                display: block;
                background: $seaBlue
                color: #fefefe;
                padding: .75em;
                border-radius: 0.15em;
                transition: background .3s ease;
                &:hover 
                    background: darken($seaBlue, 15)

.volunteers_5
    background #fff
    padding-bottom 80px
    padding-top 80px
    
    .sectionInterior
        .articleMain
            padding-top 50px
    
    
    .articleMain
        width 100%
    
        
    .volunteers_5_image_3
        height 350px
        width 48%
        background url('../img/buildingLeaders-Marks.png');
        background-size contain
        margin 1%
        float left
        background-repeat no-repeat
        background-position center
     .volunteers_5_image_4
        height 350px
        width 48%
        background url('../img/buildingLeaders-Faralla-alt.png');
        margin 1%
        float left    
        background-size contain
        background-repeat no-repeat
        background-position center

.volunteers_4
    background white
    padding-bottom 80px
    padding-top 80px
    
    .sectionInterior
        .articleMain
            padding-top 50px
        
        &:nth-child(1)
            border-bottom $darkGrey 1px solid
            margin-bottom 50px
            padding-bottom 30px
    
    .articleMain
        float right
        width 100%
        
    .volunteers_4_image_1
        height 550px
        width 48%
        background url('../img/annualGiving-Langford.png');
        background-size contain
        background-position center
        margin 1%
        float left
        background-repeat no-repeat
     .volunteers_4_image_2
        height 550px
        width 48%
        background url('../img/annualGiving-Cundari.png');
        margin 1%
        float left    
        background-size contain
        background-position center
        background-repeat no-repeat
        

@media (max-width 750px) 
    .articleMain
        width 100%
        
    .articleAside
        display none
        
    .articleAsideImg
        display none               
    
    .volunteers_4
        .sectionInterior
            .articleMain
                width 100%
                
                        
        
    