.year-review
	.volunteers_1 
		background $lightBlue
		
	.highlightTimeline
		height 2000px
	
	.highlights
		h1
			text-align center
			
		
		
		h2.highlightYear
			font-size 240px
			text-align center
			margin-top 5px
			margin-bottom 5px
			font-weight 300
			padding-bottom 50px
			
		h2.highlightYearBottom
			padding-bottom 150px
				
			
	.doubleBlock
		position relative
		height 600px
		width 100%	
			
	.highlightBlock
		position relative
		
		h2 
			margin-bottom 2px
		h3
			margin-top 0
			font-weight 300	
			
		p 
			font-weight 300
			font-size 18px	
		
		width 40%
		&:nth-child(odd)
			// float right
			float left
			clear both
			// margin-right 10%
			position absolute
			top 0
			right 0
			text-align left
			
			
			p 
				text-align left
				width 75%
			
		&:nth-child(even)
			float left
			position absolute
			left 0
			top 250px
			// margin-left 10%
			text-align right
			
			p
				width 75%
				margin-left 25%
				
			h2
				text-align right
				
			
			

	
			
				
			

			

			
